body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #cadecb;
    margin: 25px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 15px;
}

section {
    background-color: #728c69;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px;
    min-width: 200px;
    max-width: 350px;
}

header {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

#income-form, #expense-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button:hover, button:focus {
    background-color: lightgreen;
}

button {
    box-shadow: 2px 2px;
    border-radius: 5px;
}

.delete-button {
    margin-left: 5px;
}

#income-amount, #expense-amount {
    width: 70px;
}

#income-description, #expense-description {
    width: 150px;
}

#budget-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border: solid;
    border-color: black;
}

th, td {
    border: 1px dotted black;
}

tr {
    text-align: center;
}