body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #cadecb;
    margin: 25px;
}

button:hover, button:focus {
    background-color: lightgreen;
}

button {
    box-shadow: 2px 2px;
    border-radius: 5px;
}

.delete-button {
    margin-left: 5px;
}

#income-amount, #expense-amount {
    width: 70px;
}

#expense-description {
    width: 150px;
}
