body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

button:hover, button:focus {
    background-color: lightblue;
}

button {
    box-shadow: 2px 2px 5px;
}